# Dependencies
node_modules/

# Environment variables
.env

# Uploads and temporary files
uploads/
temp/
*.pdf

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
